<include file="Shared:Header" />
<body class="Bodybg">
<div id="tt" class="easyui-tabs" >
    <div title="还款信息" style="padding: 20px; background-color: #f4f4f4">
        <fieldset style="border: 1px solid #ccc;margin:5px; ">
            <legend  style="color: #0092DC">还款信息</legend>
            <table width="100%" border="0" cellpadding="3" cellspacing="0" class="EditTable EditTableMax">
                <tbody>
                <tr>
                    <td width="120" align="right">申请人会员id：</td>
                    <td width="200">
                        {$infos['UserID']}
                    </td>
                    <td width="120" align="right">真实姓名：</td>
                    <td width="200">
                        {$infos['TrueName']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">手机号码：</td>
                    <td width="200">
                        {$infos['Mobile']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">申请号：</td>
                    <td width="200">
                        {$infos['LoanNo']}
                    </td>
                    <td width="120" align="right">订单号：</td>
                    <td width="200">
                        {$infos['OrderSn']}
                    </td>
                </tr>

                <tr>
                    <td width="120" align="right">申请金额：</td>
                    <td width="200">
                        {$applyinfos['ApplyMoney']}
                    </td>
                    <td width="120" align="right">快速申请费：</td>
                    <td width="200">
                        {$applyinfos['AdoptMoney']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">用户管理费：</td>
                    <td width="200">
                        {$applyinfos['FJMoney']}
                    </td>
                    <td width="120" align="right">息费：</td>
                    <td width="200">
                        {$applyinfos['Interest']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">优惠劵金额：</td>
                    <td width="200">
                        {$applyinfos['CoMoney']}
                    </td>
                </tr>
                
                <tr>
                    <td width="120" align="right">还款总金额：</td>
                    <td width="200">
                        {$infos['TotalMoney']}
                    </td>
                    <td width="120" align="right">应还本金：</td>
                    <td width="200">
                        {$infos['CostPayable']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">应还本息：</td>
                    <td width="200">
                        {$infos['RatePayable']}
                    </td>
                    <td width="120" align="right">应还服务费：</td>
                    <td width="200">
                        {$infos['SeviceCostPayable']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">应还罚金：</td>
                    <td width="200">
                        {$infos['FinePayable']}
                    </td>
                    <td width="120" align="right">还款类型：</td>
                    <td width="200">
                        {$infos['PayType']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">支付状态：</td>
                    <td width="200">
                        {$infos['PayStatus']}
                    </td>
                    <td width="120" align="right">还款时间：</td>
                    <td width="200">
                        {$infos['HkTime']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">交易备注：</td>
                    <td width="200">
                        {$infos['TradeRemark']}
                    </td>
                    <td width="120" align="right">收款账号：</td>
                    <td width="200">
                        {$infos['Accounts']}
                    </td>
                </tr>
            </tbody>
        </table>
        </fieldset>
      <fieldset style="border: 1px solid #ccc;margin:5px; ">
            <legend  style="color: #0092DC">审核状态</legend>
            <table width="100%" border="0" cellpadding="3" cellspacing="0" class="EditTable EditTableMax">
                <tbody>
                <tr>
                    <td width="120" align="right">审核状态：</td>
                    <td width="200" style="color:red;">
                        {$infos['Status']}
                    </td>
                    <td width="120" align="right">审核人：</td>
                    <td width="200">
                        {$infos['AdminID']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">审核时间：</td>
                    <td width="200">
                        {$infos['ShTime']}
                    </td>
                </tr>
            </tbody>
        </table>
        </fieldset>
    </div>
</div>
<div style="text-align:center;margin:20px 0px;">
    <input name="Btn" type="button" value=" 关闭  " onclick="parent.$('#W1').window('close');" />
</div>
</body>
<include file="Shared:Footer" />