<include file="Shared:Header" />
<body class="Bodybg">
<div id="tt" class="easyui-tabs" >
    <div title="基本信息" style="padding: 20px; background-color: #f4f4f4">
        <fieldset style="border: 1px solid #ccc;margin:5px; ">
            <legend  style="color: #0092DC">认证结果</legend>
            <table width="100%" border="0" cellpadding="3" cellspacing="0" class="EditTable EditTableMax">
                <tbody>
                <tr>
                    <td width="120" align="right">会员id：</td>
                    <td width="200">
                        {$infos['UserID']}
                    </td>
                    <td width="120" align="right">昵称：</td>
                    <td width="200">
                        {$infos['NickName']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">性别：</td>
                    <td width="200">
                        <?php
                            if($infos['Sex']=='0'){
                                echo '保密';
                             }elseif($infos['Sex']=='1'){
                                echo '男';
                             }elseif($infos['Sex']=='2'){
                                echo '女';
                             }
                        ?>
                    </td>
                    <td width="120" align="right">号码：</td>
                    <td width="200">
                        {$infos['Mobile']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">收入：</td>
                    <td width="200">
                        {$infos['InCome']}
                    </td>
                    <td width="120" align="right">学历：</td>
                    <td width="200">
                        {$infos['Education']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">职业：</td>
                    <td width="200">
                        {$infos['ZhiYe']}
                    </td>
                    <td width="120" align="right">状态：</td>
                    <td width="200">
                        <?php
                          if($infos['Status']=='0'){
                             echo '待审核';
                          }elseif($infos['Status']=='1'){
                             echo '<span style="color:green;">已认证</span>';
                          }elseif($infos['Status']=='2'){
                             echo '<span style="color:red;">认证失败</span>';
                          }
                        ?>
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">家庭住址：</td>
                    <td width="200">
                        {$infos['JAddress']}
                    </td>
                    <td width="120" align="right">居住时长：</td>
                    <td width="200">
                        {$infos['JZTime']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">单位名称：</td>
                    <td width="200">
                        {$infos['CompanyName']}
                    </td>
                    <td width="120" align="right">单位地址：</td>
                    <td width="200">
                        {$infos['CompanyAddress']}
                    </td>
                </tr>
                <tr>
                    <td width="120" align="right">单位电话：</td>
                    <td width="200">
                        {$infos['CompanyMobile']}
                    </td>
                </tr>
            </tbody>
        </table>
        </fieldset>
    </div>
    <div title="审核记录"  style="padding: 20px; background-color: #f4f4f4">
        <div class="TabelContent">
            <table id="shenhelist"></table>
        </div>
    </div>
</div>
<div style="text-align:center;margin:20px 0px;">
    <input name="Btn" type="button" value=" 关闭  " onclick="parent.$('#W1').window('close');" />
</div>
<script type="text/javascript">
    $(function () {
        var frozenColumns = [
            //{ field: 'ID', checkbox: true }
        ];
        var columns = [
            { field: 'OperatorID', title: '审核人', width: 120 },
            { field: 'UserID', title: '会员姓名', width: 100 },
            { field: 'Codes', title: '认证类型', width: 120 },
            { field: 'Descs', title: '描述', width: 150 },
            { field: 'Intro', title: '备注', width: 150 },
            { field: 'UpdateTime', title: '审核时间', width: 150 },
        ];
        $.XB.datagrid({
            "loadsuccess": function () {
                $(this).datagrid('resize', {
                    height: 260
                });
            }, "frozenColumns": frozenColumns, "columns": columns, "url": "__APP__/Renzen/Memberinfo/shenhelist", "u": "RenZenID={$infos['ID']}", "pagesize": "10", "datalist": "#shenhelist"
        });
    });
</script>
</body>
<include file="Shared:Footer" />