<include file="Shared:Header" />
<body class="Bodybg">
<form id="FF" class="easyui-form" method="post" data-options="novalidate:true">
    <table width="100%" border="0" cellpadding="3" cellspacing="0" class="EditTable">
    	<thead>
        <tr>
            <td colspan="2">说明：会员资料只能修改基本信息，有关账号及资金部分不可修改！</td>
        </tr>
        </thead>
        <tbody>
		<tr>
			<td align="right">状态：</td>
            <td>
                <select id="Status" name="Status">
                    <option value="0" <?php if($res['Status']=='0') echo 'selected';?> >待审核</option>
                    <option value="1" <?php if($res['Status']=='1') echo 'selected';?> >审核成功</option>
                    <option value="2" <?php if($res['Status']=='2') echo 'selected';?> >审核失败</option>
                </select>
            </td>
		</tr>
		<tr>
			<td align="right">禁止天数：</td>
            <td>
                <input id="ForbidDay" name="ForbidDay" type="text" value="0" class="easyui-numberbox" data-options="required:true,width:100,validType:['length[1,100]']" />&nbsp;如果不限制请填写0 
            </td>
		</tr>
		<tr>
			<td align="right">认证状态报告：</td>
            <td>
                身份证认证：<?php 
                    if($datarenzen['CardStatus']=='-1'){
                       echo '<span style="color:red;">未认证</span>';
                    }elseif($datarenzen['CardStatus']=='0'){
                       echo '待审核';
                    }elseif($datarenzen['CardStatus']=='1'){
                       echo '已认证';
                    }elseif($datarenzen['CardStatus']=='2'){
                       echo '<span style="color:red;">认证失败</span>';
                    }
                ?>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手机认证：<?php 
                    if($datarenzen['MobileStatus']=='-1'){
                       echo '<span style="color:red;">未认证</span>';
                    }elseif($datarenzen['MobileStatus']=='0'){
                       echo '待审核';
                    }elseif($datarenzen['MobileStatus']=='1'){
                       echo '已认证';
                    }elseif($datarenzen['MobileStatus']=='2'){
                       echo '<span style="color:red;">认证失败</span>';
                    }
                ?>
                <br/>
                支付宝认证：<?php 
                    if($datarenzen['AlipayStatus']=='-1'){
                       echo '<span style="color:red;">未认证</span>';
                    }elseif($datarenzen['AlipayStatus']=='0'){
                       echo '待审核';
                    }elseif($datarenzen['AlipayStatus']=='1'){
                       echo '已认证';
                    }elseif($datarenzen['AlipayStatus']=='2'){
                       echo '<span style="color:red;">认证失败</span>';
                    }
                ?>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;淘宝认证：<?php 
                    if($datarenzen['TaobaoStatus']=='-1'){
                       echo '<span style="color:red;">未认证</span>';
                    }elseif($datarenzen['TaobaoStatus']=='0'){
                       echo '待审核';
                    }elseif($datarenzen['TaobaoStatus']=='1'){
                       echo '已认证';
                    }elseif($datarenzen['TaobaoStatus']=='2'){
                       echo '<span style="color:red;">认证失败</span>';
                    }
                ?>
                <br/>
                基本信息认证：<?php 
                    if($datarenzen['MemberinfoStatus']=='-1'){
                       echo '<span style="color:red;">未认证</span>';
                    }elseif($datarenzen['MemberinfoStatus']=='0'){
                       echo '待审核';
                    }elseif($datarenzen['MemberinfoStatus']=='1'){
                       echo '已认证';
                    }elseif($datarenzen['MemberinfoStatus']=='2'){
                       echo '<span style="color:red;">认证失败</span>';
                    }
                ?>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社交认证：<?php 
                    if($datarenzen['SocialStatus']=='-1'){
                       echo '<span style="color:red;">未认证</span>';
                    }elseif($datarenzen['SocialStatus']=='0'){
                       echo '待审核';
                    }elseif($datarenzen['SocialStatus']=='1'){
                       echo '已认证';
                    }elseif($datarenzen['SocialStatus']=='2'){
                       echo '<span style="color:red;">认证失败</span>';
                    }
                ?><br/>
                银行卡认证：<?php 
                    if($datarenzen['BankStatus']=='-1'){
                       echo '<span style="color:red;">未认证</span>';
                    }elseif($datarenzen['BankStatus']=='0'){
                       echo '待审核';
                    }elseif($datarenzen['BankStatus']=='1'){
                       echo '已认证';
                    }elseif($datarenzen['BankStatus']=='2'){
                       echo '<span style="color:red;">认证失败</span>';
                    }
                ?>
            </td>
		</tr>
		<tr>
			<td align="right">原因:</td>
			<td colspan="3">
				<textarea name="Remark" id="Remark" style="width:400px;height:90px;"></textarea><br/>
				<span style="color:red;">提示：审核失败需要填写原因</span>
			</td>
		</tr>
        </tbody>
    </table>
    <input type="hidden" id="ID" name="ID" value="{$res['ID']}"/>
</form>
</body>
<include file="Shared:Footer" />