<include file="Shared:Header" />
<body class="Bodybg">
<form id="FF" class="easyui-form" method="post" data-options="novalidate:true">
    <table width="100%" border="0" cellpadding="3" cellspacing="0" class="EditTable">
        <thead>
	        <tr>
	            <td colspan="2">说明：会员资料只能修改基本信息，有关账号及资金部分不可修改！</td>
	        </tr>
        </thead>
        <tbody>
		<tr>
			<td align="right" width="120px;"><span class="Red">*</span>取消原因:</td>
			<td>
				<textarea name="Remark" id="Remark" style="width:400px;height:90px;"></textarea>
			</td>
		</tr>
        </tbody>
    </table>
    <input type="hidden" id="ID" name="ID" value="{$res['ID']}"/>
</form>
</body>
<include file="Shared:Footer" />