<include file="Shared:Header" />

<body class="Bodybg">
	<form id="FF" class="easyui-form" method="post" data-options="novalidate:true">
		<table width="100%" border="0" cellpadding="3" cellspacing="0" class="EditTable">
			<thead>
				<tr>
					<td colspan="2">说明：会员资料只能修改基本信息，有关账号及资金部分不可修改！</td>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td align="right"><span class="Red">*</span>还款人姓名：</td>
					<td>
						<!--<input id="TrueName" name="TrueName" type="text" class="easyui-textbox" value="{$mem_info.TrueName}" disabled="disabled"/>-->
						<input id="TrueName" name="TrueName" type="text" disabled="disabled" class="easyui-textbox" value="{$dataxmem_info.TrueName}" />
					</td>
				</tr>
				<tr>
					<td align="right"><span class="Red">*</span>还款人身份证号：</td>
					<td>
						<!--<input id="TrueName" name="TrueName" type="text" class="easyui-textbox" value="{$mem_info.TrueName}" disabled="disabled"/>-->
						<input id="TrueName" name="IDCard" type="text" disabled="disabled" class="easyui-textbox" value="{$dataxmem_info.IDCard}" />
					</td>
				</tr>
				<tr>
					<td align="right"><span class="Red">*</span>还款人银联账号：</td>
					<td>
						<!--<input id="TrueName" name="TrueName" type="text" class="easyui-textbox" value="{$mem_info.TrueName}" disabled="disabled"/>-->
						<input id="TrueName" name="bank" type="text" disabled="disabled" class="easyui-textbox" value="{$bank}" />
					</td>
				</tr>
				<tr>
					<td align="right"><span class="Red">*</span>协议支付金额：</td>
					<td>
						<!--<input id="TrueName" name="TrueName" type="text" class="easyui-textbox" value="{$mem_info.TrueName}" disabled="disabled"/>-->
						<input id="TrueName" name="OpenM" type="text" disabled="disabled" class="easyui-textbox" value="{$mem_info.OpenM}" />元
						金额可以根据实际情况手动输入调整 注意格式 (**.00)
					</td>
				</tr>
				<tr>
					<td align="right"><span class="Red">*</span>还款金额：</td>
					<td>
						<!--<input id="TrueName" name="TrueName" type="text" class="easyui-textbox" value="{$mem_info.TrueName}" disabled="disabled"/>-->
						<input id="TrueName" name="BackM" type="text" disabled="disabled" class="easyui-textbox" value="{$mem_info.BackM}" />元
						金额可以根据实际情况手动输入调整 注意格式 (**.00)
					</td>
				</tr>
				<tr>
					<td align="right"><span class="Red">*</span>支付方式：</td>
					<td>
						<select id="ReplaymentType" name="ReplaymentType" onchange="fnlingyanact(this)">

							<option value="3">银联</option>

						</select>
					</td>
				</tr>
				<tr>
					<td align="right"><span class="Red">*</span>动态口令：</td>
					<td>
						<!--<input id="TrueName" name="TrueName" type="text" class="easyui-textbox" value="{$mem_info.TrueName}" disabled="disabled"/>-->
						<input id="Password" name="Password" type="text"class="easyui-textbox" />
					</td>
				</tr>

			</tbody>
		</table>
		<input type="hidden" id="ID" name="ID" value="{$mem_info.ID}" />
		<input type="hidden" id="ID" name="UserID" value="{$dataxmem_info.ID}" />
		
	</form>
</body>
<include file="Shared:Footer" />
<script type="text/javascript">
	//打款账号
	//  function fnlingyanact(obj){
	//  	var types=$(obj).val();
	//  	var id=$('#ID').val();
	//      $.ajax({
	//          type:"post",
	//          url:"../getaccuonts",
	//          data:"types="+types+"&id="+id,
	//          success:function(data){
	//              $('#RepaymentAccount').empty();
	//              $('#RepaymentAccount').append(data);
	//          }
	//      });
	//  }
	//  function fnlingyanact2(types){
	//      var id=$('#ID').val();
	//      $.ajax({
	//          type:"post",
	//          url:"../getaccuonts",
	//          data:"types="+types+"&id="+id,
	//          success:function(data){
	//              $('#RepaymentAccount').empty();
	//              $('#RepaymentAccount').append(data);
	//          }
	//      });
	//  }
	//  var types="<?php echo $res['ReplaymentType'];?>";
	//  if(types=='0'){
	//      types='1';
	//  }
	//  fnlingyanact2(types);
</script>